
  <section>
    <header>
      <h1>Grooviest</h1>
    </header>
    <section class="h-card">
        <h1><span class="p-honorific-prefix">Mr.</span><a class="p-name u-url" href="http://www.grooviest.com"><span class="p-given-name">Mika</span> <span class="p-additional-name">Petteri</span> <span class="p-family-name">Korhonen</span></a></h1>
	  <aside>
        <img src="img/shots/profiilikuva.jpg" class="u-photo" />
	  </aside>
      <ul>
        <li><strong>Age</strong> <span>30</span></li>
        <li><strong>Genre</strong> <span class="p-sex">Male</span></li>
        <li><strong>Time of birth</strong> <time class="dt-bday" datetime="1983-9-7T10:10:00">7th of September 1983</time></li>
        <li><strong>Job Title</strong> <span class="p-job-title">Front End Developer</span></li>
        <li><strong>Role</strong> <span class="p-role">Developer</span></li>
        <li><strong>Mobile</strong> <span class="p-tel">+358 46 649 5143</span></li>
        <li><strong>Email</strong> <span class="u-email">mika.petteri.korhonen@gmail.com</span></li>
        <li><strong>City</strong> <span class="p-locality">Helsinki</span></li>
        <li><strong>Country</strong> <span class="p-country-name">Finland</span></li>
        <li><strong>Address</strong> <span class="p-adr p-street-address">Porttitie 9 F 64</span></li>
        <li><strong>Postalcode</strong> <span class="p-postal-code">FI-00940</span></li>
      </ul>
    </section>
  </section>
  
